/*Reset CSS*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*Otros*/
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
    border-right: 1px solid white;
}

nav li:last-child {
    border-right: none;
    border-left: 1px solid white;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
}

nav a:hover {
    background-color: grey;
}

nav .active {
    background-color: darkred;
}

nav .active:hover {
    background-color:  darkred;
}

section {
    padding: 100px 20px;
    margin-top: 60px;
    height: 100vh;
}