<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Añadir Tarea</title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <h1>Añadir Tarea</h1>
            <form action="/add" method="POST">
                <label for="nombre">Nombre de la nueva tarea:</label>
                <input type="text" id="nombre" name="nombre">
                <button type="submit">Añadir</button>
            </form>
            <h1>Tareas actuales</h1>
            <ul>
                {% for tarea in tareas %}
                <li>
                    {{tarea.name}}

                </li>
                {% endfor %}
            </ul>
        </main>
        <footer>
            <div>
                <a href="/add">Añadir Tarea</a>.
                <a href="/remove">Eliminar Tarea</a>.
                <a href="/complete">Completar Tarea</a>.
                <a href="/">Inicio</a>.
            </div>
            <p>2024 Amador Fiol Borel</p>
        </footer>
    </body>
</html>