<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lista de usuarios</title>
        <link rel="stylesheet" href="./static/users.css">
    </head>
    <body>
        <header>
            <h1>Lista de usuarios</h1>
            <p>Usuarios registrados:</p>

        </header>
        <main>
            <ul>
                {% for user in users %}
                <li>
                    Nombre: {{user.name}} - {{user.age}} años

                    {% if user.is_admin %}
                        <strong>
                            (ADMIN)
                        </strong>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <p>Explora mas <a href="/aviones">aqui</a>.</p>
        </main>
        <footer>
            <p>2024 Amador Fiol Borel</p>
        </footer>
    </body>
</html>