<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lista de aviones</title>
    </head>
    <body>
        <header>
            <h1>Lista de aviones</h1>
        </header>
        <main>
            <ul>
                {% for avion in arrayAviones %}
                <li>
                    Nombre: {{avion.nombre}} - {{avion.tipo}}

                    {% if avion.tipo=="militar" %}
                        <strong>
                            (MILITAR)
                        </strong>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </main>
        <footer>
            <p>2024 Amador Fiol Borel</p>
        </footer>
    </body>
</html>