<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body>
        <header>
            <h1>{{title}}</h1>
            <p>{{desc | default("Este mensaje se mostrara en caso de error")}}</p>
        </header>
        <main>
            <h2>Inicio</h2>
            <p>Explora los usuario <a href="/users">aqui</a>.</p>
        </main>
        <footer>
            <p>2024 Amador Fiol Borel</p>
        </footer>
    </body>
</html>